/* ------------------------------------------ */
/* MAIN STYLESHEET FOR GEEKIN-RADIO'S WEBSITE */
/* ------------------------------------------ */
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,300);
* {
  box-sizing: border-box; }

.clearfix:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both; }

.container {
  max-width: 1154px; }

body {
  -webkit-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out; }

ul {
  padding: 0px;
  margin: 0px;
  list-style: none; }

img {
  max-width: 100%; }

@font-face {
  font-family: 'proxima_nova_light';
  src: url("../../fonts/proximanova/light/proximanova-light-webfont.eot");
  src: url("../../fonts/proximanova/light/proximanova-light-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/proximanova/light/proximanova-light-webfont.woff2") format("woff2"), url("../../fonts/proximanova/lighta/proximanova-light-webfont.woff") format("woff"), url("../../fonts/proximanova/light/proximanova-light-webfont.ttf") format("truetype"), url("../../fonts/proximanova/light/proximanova-light-webfont.svg#proxima_novalight") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'proxima_nova_rgbold';
  src: url("../../fonts/proximanova/bold/proximanova-bold-webfont.eot");
  src: url("../../fonts/proximanova/bold/proximanova-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/proximanova/bold/proximanova-bold-webfont.woff2") format("woff2"), url("../../fonts/proximanova/bold/proximanova-bold-webfont.woff") format("woff"), url("../../fonts/proximanova/bold/proximanova-bold-webfont.ttf") format("truetype"), url("../../fonts/proximanova/bold/proximanova-bold-webfont.svg#proxima_nova_rgbold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'proxima_nova_rgregular';
  src: url("../../fonts/proximanova/regular/proximanova-regular-webfont.eot");
  src: url("../../fonts/proximanova/regular/proximanova-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/proximanova/regular/proximanova-regular-webfont.woff2") format("woff2"), url("../../fonts/proximanova/regular/proximanova-regular-webfont.woff") format("woff"), url("../../fonts/proximanova/regular/proximanova-regular-webfont.ttf") format("truetype"), url("../../fonts/proximanova/regular/proximanova-regular-webfont.svg#proxima_nova_rgregular") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-size: 14px;
  color: #8E93A2;
  font-family: "proxima_nova_rgregular", "Helvetica", "Arial", sans-serif; }

a:active,
a:visited,
a:hover {
  text-decoration: none; }

.quotes-font, .quote, .about-title {
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 300;
  font-size: 2em;
  font-style: italic; }

.section-header,
.section-subheader {
  text-align: center; }

.section-header {
  font-weight: lighter;
  font-size: 3em;
  letter-spacing: 3px;
  margin-bottom: 80px;
  color: #07143A; }
  .section-header .section-subheader {
    margin-top: 14px;
    font-size: .318em;
    letter-spacing: 1px;
    font-weight: normal;
    color: #8992ae; }

.orange-link {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bolder;
  color: #FF7E00;
  padding-bottom: 3px;
  border-bottom: 1px solid rgba(255, 126, 0, 0.2);
  -webkit-transition: opacity 0.3s ease-out;
          transition: opacity 0.3s ease-out; }
  .orange-link:hover {
    color: #FF7E00;
    opacity: .8; }

.section {
  padding-top: 125px;
  padding-bottom: 125px;
  font-size: 1.218em;
  border-bottom: 1px solid #e3e6ec; }
  .section p {
    line-height: 2;
    letter-spacing: 1px;
    margin-bottom: 30px; }

.inner-container {
  max-width: 1024px;
  width: 80%;
  margin: 0 auto; }

.header-home nav {
  padding-top: 120px; }

nav {
  background-color: transparent;
  padding-top: 60px; }

.nav-logo {
  max-height: 120px; }

.nav-left,
.nav-right {
  display: inline-block;
  float: left; }

.nav-left {
  width: 25%;
  text-align: right; }

.nav-right {
  width: 75%; }

.nav-center {
  width: 70%;
  margin: 0 auto;
  margin-top: -60px; }

.nav-center,
.nav-right {
  text-align: center; }
  .nav-center ul,
  .nav-right ul {
    margin-top: 40px; }
    .nav-center ul li,
    .nav-right ul li {
      display: inline-block;
      width: 16%; }
      .nav-center ul li a,
      .nav-right ul li a {
        display: block;
        text-transform: uppercase;
        color: white;
        opacity: .7;
        letter-spacing: 4px;
        -webkit-transition: all 0.3s ease-out;
                transition: all 0.3s ease-out;
        font-size: 1.18em; }
        .nav-center ul li a.active,
        .nav-right ul li a.active {
          opacity: 1; }
        .nav-center ul li a:hover,
        .nav-right ul li a:hover {
          opacity: 1; }

.play-button-wrapper {
  cursor: pointer;
  padding-top: 16px;
  padding-left: 4px;
  font-size: 2em;
  color: white;
  margin: 0 auto;
  margin-top: 40px;
  width: 80px;
  height: 80px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 100%;
  border: 4px solid rgba(255, 255, 255, 0.6);
  -webkit-transition: background-color 0.3s ease-out;
          transition: background-color 0.3s ease-out; }
  .play-button-wrapper:hover {
    background-color: rgba(0, 0, 0, 0.5);
    border-color: white; }

.menu-button-wrapper {
  cursor: pointer;
  display: inline-block;
  position: fixed;
  top: 20px;
  right: 60px;
  margin-top: 35px;
  width: 40px;
  height: 40px;
  z-index: 6001; }
  .menu-button-wrapper:hover .menu-button div:first-child {
    -webkit-transform: translateY(-3px);
        -ms-transform: translateY(-3px);
            transform: translateY(-3px); }
  .menu-button-wrapper:hover .menu-button div:last-child {
    -webkit-transform: translateY(3px);
        -ms-transform: translateY(3px);
            transform: translateY(3px); }
  .menu-button-wrapper .menu-button.active div {
    background-color: white; }
  .menu-button-wrapper .menu-button.active div:first-child {
    -webkit-transform: rotate(45deg) translateY(5px) translateX(10px);
        -ms-transform: rotate(45deg) translateY(5px) translateX(10px);
            transform: rotate(45deg) translateY(5px) translateX(10px); }
  .menu-button-wrapper .menu-button.active div.middle {
    opacity: 0; }
  .menu-button-wrapper .menu-button.active div:last-child {
    -webkit-transform: rotate(-45deg) translateY(-5px) translateX(10px);
        -ms-transform: rotate(-45deg) translateY(-5px) translateX(10px);
            transform: rotate(-45deg) translateY(-5px) translateX(10px); }

.menu-button.orange div {
  background-color: #FF7E00; }

.menu-button div {
  top: 10px;
  right: 0px;
  position: absolute;
  width: 40px;
  height: 4px;
  border-radius: 40px;
  background-color: white;
  -webkit-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out; }

.menu-button div:first-child {
  top: 0px; }

.menu-button div:last-child {
  top: 20px; }

.menu-button-text {
  opacity: 1;
  margin-right: 45px; }

.blur-overlay {
  position: fixed;
  z-index: 3000;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 126, 0, 0.9);
  -webkit-transform-origin: bottom;
      -ms-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transform: scaleY(0);
      -ms-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition: -webkit-transform 0.3s ease-out;
          transition: transform 0.3s ease-out; }
  .blur-overlay.active {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1); }

.nav-fullscreen {
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: rgba(255, 126, 0, 0.9);
  z-index: 5000;
  height: 100%;
  width: 100%;
  -webkit-transform-origin: top;
      -ms-transform-origin: top;
          transform-origin: top;
  -webkit-transform: translateY(-150%);
      -ms-transform: translateY(-150%);
          transform: translateY(-150%);
  -webkit-transition: all 0.5s ease-out;
          transition: all 0.5s ease-out; }
  .nav-fullscreen .social-bar {
    margin-top: 30px;
    color: white;
    background-color: transparent;
    border: 0; }
    .nav-fullscreen .social-bar li {
      display: inline-block;
      font-size: 2.618em;
      width: 20%; }
  .nav-fullscreen li {
    margin-bottom: 10px;
    font-size: 1.618em; }
  .nav-fullscreen li:nth-child(1) {
    -webkit-animation-delay: .25s;
    /* Chrome, Safari, Opera */
    animation-delay: .25s; }
  .nav-fullscreen li:nth-child(2) {
    -webkit-animation-delay: .5s;
    /* Chrome, Safari, Opera */
    animation-delay: .5s; }
  .nav-fullscreen li:nth-child(3) {
    -webkit-animation-delay: .75s;
    /* Chrome, Safari, Opera */
    animation-delay: .75s; }
  .nav-fullscreen li:nth-child(4) {
    -webkit-animation-delay: 1s;
    /* Chrome, Safari, Opera */
    animation-delay: 1s; }
  .nav-fullscreen.active {
    -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
            transform: translateY(0%); }
  .nav-fullscreen .nav-logo {
    margin-top: 90px;
    margin-bottom: 30px; }
  .nav-fullscreen ul {
    width: 70%;
    margin: 0 auto; }

header {
  width: 100%;
  height: 700px;
  background-image: url("../../img/Background-half.jpg");
  background-size: cover;
  background-position: center; }

.caption {
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 30px;
  text-align: center;
  max-width: 550px;
  width: 50%;
  color: white; }
  .caption h1 {
    font-weight: lighter;
    font-size: 3.618em;
    letter-spacing: 2px;
    margin-bottom: 20px; }
  .caption p {
    font-size: 1.218em;
    width: 90%;
    margin: 0 auto; }

.caption-button-wrapper {
  margin: 0 auto;
  text-align: center;
  max-width: 680px;
  width: 70%; }

.btn-wrapper-center {
  text-align: center;
  margin-bottom: 30px; }
  .btn-wrapper-center a:first-child {
    margin-right: 0px; }

.header-logo {
  max-width: 240px;
  width: 50%;
  display: block;
  margin: 140px auto 70px; }

.header-home {
  height: 800px; }
  .header-home .caption {
    margin-bottom: 20px; }

.download-button-wrapper {
  max-width: 500px;
  width: 80%;
  margin: 0 auto;
  color: white;
  text-align: center; }

.download-button {
  width: 45%;
  padding: 10px;
  display: inline-block;
  border: 2px solid rgba(255, 255, 255, 0.6);
  border-radius: 4px;
  color: white;
  background-color: transparent;
  -webkit-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
  cursor: pointer; }
  .download-button:hover {
    background-color: rgba(0, 0, 0, 0.3);
    border-color: transparent; }
  .download-button:last-child {
    margin-right: 0; }
  .download-button i {
    display: inline-block;
    margin-right: 6px;
    vertical-align: top;
    margin-top: 4px; }
  .download-button p {
    padding-left: 4px;
    text-align: left;
    margin-bottom: 0px; }
    .download-button p:first-child {
      font-size: .818em; }
    .download-button p:last-child {
      font-size: 1.218em; }
  .download-button small {
    display: block; }

.download-button-text {
  display: inline-block; }

footer {
  color: #07143A;
  padding-top: 100px;
  padding-bottom: 100px; }
  footer .col-logo {
    text-align: center; }
  footer h4 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    margin-bottom: 20px; }
  footer ul li {
    margin-bottom: 10px; }
  footer i.fa {
    font-size: 2.218em;
    text-align: center;
    width: 100%;
    cursor: pointer;
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
    border: 1px solid #B6BCCD;
    border-radius: 8px; }
  footer i, footer p, footer a {
    color: #07143A;
    opacity: .5; }
  footer i, footer a {
    -webkit-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out; }
    footer i:hover, footer a:hover {
      opacity: 1; }
  footer p {
    margin-bottom: 20px; }

/* ---------------- */
/*       Modules    */
/* ---------------- */
.btn-geekin {
  display: inline-block;
  font-family: "proxima_nova_rgbold", "Helvetica", "Arial", sans-serif;
  font-weight: bolder;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: white;
  padding: 20px 40px;
  min-width: 320px;
  text-align: center;
  border-radius: 40px;
  -webkit-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
  font-size: 1.118em; }
  .btn-geekin:hover {
    color: inherit;
    opacity: .7; }

.btn-geekin-dark {
  background-color: rgba(0, 0, 0, 0.6); }

.btn-geekin-orange {
  background-color: #FF7E00; }

.btn-geekin-transparent {
  color: #07143A;
  border: thin solid #B6BCCD; }

.btn-geekin-white {
  color: white;
  border: thin solid white; }

.subscribe {
  width: 100%;
  min-height: 146px;
  background-color: #FF7E00;
  color: white;
  padding-top: 60px; }
  .subscribe button.btn-subscribe {
    font-family: "proxima_nova_rgbold", "Helvetica", "Arial", sans-serif;
    min-width: 220px;
    margin-bottom: 60px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    letter-spacing: 4px;
    color: white;
    background-color: transparent;
    text-transform: uppercase;
    -webkit-transition: opacity 0.3s ease-out;
            transition: opacity 0.3s ease-out;
    outline: none;
    border: 0;
    font-size: 1.218em; }
    .subscribe button.btn-subscribe:hover {
      opacity: .7; }
  .subscribe input {
    width: 100%;
    padding-bottom: 8px;
    margin: 0 auto;
    margin-bottom: 30px;
    border: 0;
    border-bottom: 2px solid #ff8b1a;
    -webkit-transition: border-color 0.3s ease-out;
            transition: border-color 0.3s ease-out;
    background-color: transparent;
    color: white;
    font-size: 2.218em;
    font-weight: lighter;
    font-family: "proxima_nova_light", "Helvetica", "Arial", sans-serif; }
    .subscribe input:focus {
      outline: none;
      border-color: #ffa54d; }
    .subscribe input:hover {
      border-color: #ffa54d; }
  .subscribe ::-webkit-input-placeholder {
    color: white;
    font-family: "proxima_nova_light", "Helvetica", "Arial", sans-serif; }
  .subscribe :-moz-placeholder {
    /* Firefox 18- */
    color: white;
    font-family: "proxima_nova_light", "Helvetica", "Arial", sans-serif; }
  .subscribe ::-moz-placeholder {
    /* Firefox 19+ */
    color: white;
    font-family: "proxima_nova_light", "Helvetica", "Arial", sans-serif; }
  .subscribe :-ms-input-placeholder {
    color: white;
    font-family: "proxima_nova_light", "Helvetica", "Arial", sans-serif; }

.social-bar {
  height: 126px;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #B6BCCD;
  color: #B6BCCD; }
  .social-bar ul {
    height: 100%;
    padding: 0px; }
    .social-bar ul li {
      font-size: 2.218em;
      height: 100%;
      float: left;
      display: inline-block;
      width: 33%;
      text-align: center;
      border-right: 1px solid #B6BCCD; }
      .social-bar ul li a {
        padding: 20px;
        padding-top: 40px;
        display: block;
        height: 100%;
        color: #B6BCCD;
        -webkit-transition: color 0.3s ease-out;
                transition: color 0.3s ease-out; }
        .social-bar ul li a:hover {
          color: #7984a4; }
      .social-bar ul li:last-child {
        border-right: 0; }

/* ---------------- */
/*   Page Specific  */
/* ---------------- */
header.header-home .caption {
  max-width: 800px;
  width: 75%;
  margin-top: 0px; }

.feature-heading {
  color: #07143A;
  letter-spacing: 4px;
  font-weight: 300;
  margin-bottom: 20px;
  font-size: 3.125em; }

.feature-text {
  padding-top: 140px; }
  .feature-text p {
    line-height: 1.6;
    font-size: 1.250em;
    font-weight: 300; }

.quotes-slider {
  height: 420px;
  width: 100%;
  background-color: #F9FBFF;
  position: relative; }

.container-quotes {
  max-width: 540px;
  width: 80%;
  margin: 0 auto; }

.quote {
  position: relative;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px; }
  .quote i.fa {
    font-size: .318em; }
    .quote i.fa:first-child {
      color: #FF7E00; }

.quote-icon-wrapper {
  margin: 0 auto;
  margin-top: -110px;
  width: 65px;
  display: block; }

.quote-mark i.fa {
  font-size: 2em; }

.quote-mark {
  position: absolute;
  top: 100px;
  font-size: 2.218em; }

.quote-left {
  left: 240px; }

.quote-right {
  right: 240px; }

.owl-theme .owl-controls .owl-page .active span {
  background-color: #FF7E00; }

.about-feature {
  margin-bottom: 40px; }
  .about-feature p {
    line-height: 1.6; }

.about-photo {
  border-radius: 50%;
  max-height: 140px; }

.about-name {
  text-transform: uppercase;
  color: #07143A;
  letter-spacing: 4px;
  margin-bottom: 20px; }

.about-title {
  color: #B6BCCD;
  text-transform: none;
  font-size: 1.218em;
  margin-bottom: 20px; }

.about-feature {
  text-align: center; }

.row-aboutus {
  margin-bottom: 80px; }

.section-blog {
  background-image: url("../../img/Background-half.jpg");
  background-size: cover;
  background-position: center;
  height: 500px;
  border-color: transparent; }
  .section-blog h2.section-header {
    color: white;
    margin-bottom: 30px; }
    .section-blog h2.section-header p {
      color: white; }

.feature-text-discover {
  padding-top: 60px; }

.curve {
  padding-bottom: 15px; }

.curve-soundcloud {
  padding-bottom: 15px; }

.article-snippet {
  padding: 20px 0px;
  max-width: 700px;
  width: 75%;
  margin: 0 auto;
  color: #07143A;
  border-bottom: 1px solid #B6BCCD; }
  .article-snippet:first-child {
    padding-top: 0px; }
  .article-snippet h3 {
    letter-spacing: 2px;
    font-weight: 300;
    font-size: 1.618em;
    margin-bottom: 20px; }
  .article-snippet p {
    font-size: .818em;
    text-transform: uppercase; }
  .article-snippet .date {
    margin-right: 30px; }

.caption-button-wrapper a:first-child.btn-geekin {
  margin-right: 20px; }

.press-image {
  margin-bottom: 40px; }

#map-canvas {
  width: 100%;
  height: 100%; }

.map-container {
  width: 100%;
  height: 500px; }

.about-container {
  background-color: #fbfbfb; }

.gm-style-iw + div {
  display: none; }

.feature-text {
  padding: 20px; }

.feature-heading {
  margin-top: 160px; }

/* ---------------- */
/*     Utilities    */
/* ---------------- */
.nav-fullscreen {
  display: none; }

@media screen and (max-width: 1096px) {
  .quote-left {
    left: 5%; }
  .quote-right {
    right: 5%; } }

/* ------------------ */
/* MEDIUM SCREEN SIZE */
/* ------------------ */
@media screen and (max-width: 990px) {
  body {
    font-size: 14px !important; }
  header {
    height: 600px; }
  .container-quotes {
    max-width: 440px; }
  .section {
    padding-top: 90px;
    padding-bottom: 90px; }
  .caption {
    margin-top: 50px;
    margin-bottom: 10px; }
  .feature-heading {
    font-size: 2.618em;
    margin-top: 5vh;
    letter-spacing: 2px; }
  .feature-image img {
    max-height: 420px; }
  .feature-text {
    padding-top: 0px; }
  .header-home {
    height: 600px; }
    .header-home .header-logo {
      margin-top: 60px; }
    .header-home nav {
      padding-top: 0px; }
  .about-feature p {
    margin: 0 auto;
    width: 60%; }
  .section p {
    line-height: 1.6;
    margin-bottom: 20px; }
  .caption-button-wrapper .btn-geekin {
    margin-bottom: 20px; }
  footer {
    padding-top: 40px;
    padding-bottom: 40px; }
    footer [class^=col] {
      text-align: center;
      margin-bottom: 20px; }
      footer [class^=col] h4 {
        text-align: left; }
      footer [class^=col] ul {
        margin-left: auto;
        margin-right: auto;
        max-width: 300px;
        text-align: left; }
    footer .download-buttons {
      text-align: center; }
    footer .col-download-links {
      text-align: center; }
      footer .col-download-links h4 {
        text-align: center; }
  .section-blog {
    height: 320px;
    padding-top: 30px; }
  .caption-button-wrapper a:first-child.btn-geekin {
    margin-right: 0; }
  .nav-left {
    display: block;
    float: none;
    margin: 0 auto;
    width: 90%;
    max-width: 300px;
    text-align: center; }
  .nav-right {
    display: block; }
    .nav-right ul li {
      width: 100%;
      display: block; } }

/* -----------=----------- */
/*  END MEDIUM SCREEN SIZE */
/* ------------=---------- */
/* ------------------ */
/*  SMALL SCREEN SIZE */
/* ------------------ */
@media screen and (max-width: 768px) {
  body {
    font-size: 12px !important; }
  .menu-button-wrapper {
    top: -10px;
    right: 20px; }
  .feature-image img {
    max-height: 600px;
    display: block;
    margin: 0 auto; }
  .article-snippet {
    width: 90%; }
    .article-snippet span.date {
      display: block; }
  .inner-container {
    width: 88%; }
  .caption {
    width: 80%;
    margin-top: 60px; }
  .nav-fullscreen .nav-logo {
    margin-top: 45px; }
  .menu-button div {
    width: 30px;
    height: 3px;
    border-radius: 60px; }
  .btn-geekin {
    min-width: 200px;
    letter-spacing: 1px; }
  .col-press-image {
    text-align: center; }
  .section-header .section-subheader {
    font-size: .5em;
    line-height: 1.2; }
  .section-header {
    font-size: 2.318em;
    margin-bottom: 60px;
    letter-spacing: 0px; }
  .subscribe .subscribe-input {
    text-align: center; }
  .subscribe input {
    width: 80%; }
  .subscribe button.btn-subscribe {
    display: block;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 60px; } }

/* ---------------------- */
/*  END SMALL SCREEN SIZE */
/* ---------------------- */
@media screen and (max-width: 600px) {
  .quote-mark {
    display: none; }
  .quote p {
    font-size: .818em; } }

/* ---------------------- */
/*  XTRASMALL SCREEN SIZE */
/* ---------------------- */
@media screen and (max-width: 500px) {
  .menu-button-wrapper {
    top: -20px;
    right: 15px; }
  header {
    height: 480px; } }

@media screen and (max-width: 350px) {
  .caption {
    width: 90%; }
    .caption h1 {
      font-size: 2.818em; }
    .caption p {
      width: 100%; }
  header.header-home {
    height: 480px; }
    header.header-home .caption {
      width: 95%; }
      header.header-home .caption h1 {
        font-size: 2.618em; }
  .btn-geekin {
    padding: 15px 20px; } }

/* ---------------------- */
/* END XSMALL SCREEN SIZE */
/* ---------------------- */
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.no-scroll {
  overflow-y: hidden; }

.blurred {
  filter: blur(10px);
  -webkit-filter: blur(10px); }

.pll {
  padding-left: 20px; }

.prl {
  padding-right: 20px; }

::-moz-selection {
  color: white;
  background: rgba(255, 126, 0, 0.6);
  /* Gecko Browsers */ }

::selection {
  color: white;
  background: rgba(255, 126, 0, 0.6);
  /* Gecko Browsers */ }

::-moz-selection {
  color: white;
  background: rgba(255, 126, 0, 0.6);
  /* Gecko Browsers */ }

/*# sourceMappingURL=/main.css.map */