/* ------------------------------------------ */
/* MAIN STYLESHEET FOR GEEKIN-RADIO'S WEBSITE */
/* ------------------------------------------ */
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,300);
* {
  box-sizing: border-box; }

.clearfix:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both; }

.container {
  max-width: 1154px; }

ul {
  padding: 0px;
  margin: 0px;
  list-style: none; }

img {
  max-width: 100%; }

.pll {
  padding-left: 20px; }

.prl {
  padding-right: 20px; }

@font-face {
  font-family: 'proxima_nova_light';
  src: url("../../fonts/proximanova/light/proximanova-light-webfont.eot");
  src: url("../../fonts/proximanova/light/proximanova-light-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/proximanova/light/proximanova-light-webfont.woff2") format("woff2"), url("../../fonts/proximanova/lighta/proximanova-light-webfont.woff") format("woff"), url("../../fonts/proximanova/light/proximanova-light-webfont.ttf") format("truetype"), url("../../fonts/proximanova/light/proximanova-light-webfont.svg#proxima_novalight") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'proxima_nova_rgbold';
  src: url("../../fonts/proximanova/bold/proximanova-bold-webfont.eot");
  src: url("../../fonts/proximanova/bold/proximanova-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/proximanova/bold/proximanova-bold-webfont.woff2") format("woff2"), url("../../fonts/proximanova/bold/proximanova-bold-webfont.woff") format("woff"), url("../../fonts/proximanova/bold/proximanova-bold-webfont.ttf") format("truetype"), url("../../fonts/proximanova/bold/proximanova-bold-webfont.svg#proxima_nova_rgbold") format("svg");
  font-weight: normal;
  font-style: normal; }
body {
  font-size: 14px;
  color: #8E93A2;
  font-family: "proxima_nova_light", "Helvetica", "Arial", sans-serif; }

a:hover {
  text-decoration: none; }

.quotes-font, .quote, .about-title {
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 300;
  font-size: 2em;
  font-style: italic; }

.section-header,
.section-subheader {
  text-align: center; }

.section-header {
  font-weight: lighter;
  font-size: 3em;
  letter-spacing: 6px;
  margin-bottom: 80px;
  color: #07143A; }
  .section-header .section-subheader {
    margin-top: 14px;
    font-size: .268em;
    letter-spacing: 1px;
    font-weight: normal;
    color: #8992ae; }

.orange-link {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bolder;
  color: #FF7E00;
  padding-bottom: 3px;
  border-bottom: 1px solid rgba(255, 126, 0, 0.2);
  transition: opacity .3s ease-out; }
  .orange-link:hover {
    color: #FF7E00;
    opacity: .8; }

.section {
  padding-top: 125px;
  padding-bottom: 70px;
  font-size: 1.218em;
  border-bottom: 1px solid #e3e6ec; }
  .section p {
    line-height: 2;
    letter-spacing: 1px;
    margin-bottom: 30px; }

.inner-container {
  max-width: 1024px;
  width: 80%;
  margin: 0 auto; }

nav {
  background-color: transparent;
  padding-top: 60px; }

.nav-logo {
  max-height: 120px; }

.nav-left,
.nav-right {
  display: inline-block;
  float: left; }

.nav-left {
  width: 20%; }

.nav-right {
  width: 80%; }

.nav-center {
  width: 70%;
  margin: 0 auto;
  margin-top: -60px; }

.nav-center,
.nav-right {
  text-align: center; }
  .nav-center ul,
  .nav-right ul {
    margin-top: 40px; }
    .nav-center ul li,
    .nav-right ul li {
      display: inline-block;
      width: 16%; }
      .nav-center ul li a,
      .nav-right ul li a {
        display: block;
        text-transform: uppercase;
        color: white;
        opacity: .5;
        letter-spacing: 4px;
        transition: all .3s ease-out; }
        .nav-center ul li a.active,
        .nav-right ul li a.active {
          opacity: 1; }
        .nav-center ul li a:hover,
        .nav-right ul li a:hover {
          opacity: 1; }

.play-button-wrapper {
  cursor: pointer;
  padding-top: 16px;
  padding-left: 4px;
  font-size: 2em;
  color: white;
  margin: 0 auto;
  margin-top: 40px;
  width: 80px;
  height: 80px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 100%;
  border: 4px solid rgba(255, 255, 255, 0.6);
  transition: background-color .3s ease-out; }
  .play-button-wrapper:hover {
    background-color: rgba(0, 0, 0, 0.5);
    border-color: white; }

header {
  width: 100%;
  height: 700px;
  background-image: url("../../img/Background.png");
  background-size: cover;
  background-position: center; }

.caption {
  margin: 0 auto;
  margin-top: 140px;
  text-align: center;
  max-width: 550px;
  width: 50%;
  color: white;
  margin-bottom: 60px; }
  .caption h1 {
    font-weight: lighter;
    font-size: 3.618em;
    letter-spacing: 4px;
    margin-bottom: 20px; }
  .caption p {
    font-size: 1.218em;
    width: 90%;
    margin: 0 auto; }

.caption-button-wrapper {
  margin: 0 auto;
  text-align: center;
  max-width: 680px;
  width: 65%; }

.btn-wrapper-center {
  text-align: center;
  margin-bottom: 30px; }
  .btn-wrapper-center a:first-child {
    margin-right: 0px; }

.header-logo {
  max-width: 280px;
  width: 50%;
  margin: 0 auto;
  display: block;
  margin-top: 140px; }

.header-home {
  height: 800px; }

.download-button-wrapper {
  max-width: 500px;
  width: 80%;
  margin: 0 auto;
  color: white;
  text-align: center; }

.download-button {
  width: 45%;
  padding: 10px;
  display: inline-block;
  border: 2px solid rgba(255, 255, 255, 0.6);
  border-radius: 4px;
  color: white;
  background-color: transparent;
  transition: all .3s ease-out;
  cursor: pointer; }
  .download-button:hover {
    background-color: rgba(0, 0, 0, 0.3);
    border-color: transparent; }
  .download-button:last-child {
    margin-right: 0; }
  .download-button i {
    display: inline-block;
    margin-right: 6px;
    vertical-align: top;
    margin-top: 4px; }
  .download-button p {
    padding-left: 4px;
    text-align: left;
    margin-bottom: 0px; }
    .download-button p:first-child {
      font-size: .818em; }
    .download-button p:last-child {
      font-size: 1.218em; }
  .download-button small {
    display: block; }

.download-button-text {
  display: inline-block; }

footer {
  color: #07143A;
  padding-top: 100px;
  padding-bottom: 100px; }
  footer .col-logo {
    text-align: center; }
  footer h4 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    margin-bottom: 20px; }
  footer ul li {
    margin-bottom: 10px; }
  footer i.fa {
    font-size: 2.218em;
    text-align: center;
    float: left;
    width: 46%;
    cursor: pointer;
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
    border: 1px solid #e3e6ec;
    border-radius: 8px; }
    footer i.fa:first-child {
      margin-right: 8%; }
  footer i, footer p, footer a {
    color: #07143A;
    opacity: .5; }
  footer i, footer a {
    transition: all .3s ease-out; }
    footer i:hover, footer a:hover {
      opacity: 1; }
  footer p {
    margin-bottom: 20px; }

.btn-geekin {
  display: inline-block;
  font-family: "proxima_nova_rgbold", "Helvetica", "Arial", sans-serif;
  font-weight: bolder;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: white;
  padding: 20px 40px;
  min-width: 320px;
  text-align: center;
  border-radius: 40px;
  transition: opacity .3s ease-out; }
  .btn-geekin:hover {
    color: inherit;
    opacity: .7; }

.btn-geekin-dark {
  background-color: rgba(0, 0, 0, 0.35); }

.btn-geekin-orange {
  background-color: #FF7E00; }

.btn-geekin-transparent {
  color: #07143A;
  border: thin solid #B6BCCD; }

.btn-geekin-white {
  color: white;
  border: thin solid white; }

/* ---------------- */
/*   Page Specific  */
/* ---------------- */
header.header-home .caption {
  max-width: 800px;
  width: 75%;
  margin-top: 0px; }

.feature-heading {
  color: #07143A;
  letter-spacing: 4px;
  font-weight: 300;
  margin-bottom: 20px;
  font-size: 50px; }

.feature-image-shadow-left {
  -webkit-box-shadow: -5px 5px 30px -5px #999999;
  -moz-box-shadow: -5px 5px 30px -5px #999999;
  box-shadow: -5px 5px 30px -5px #999999; }

.feature-image-shadow-right {
  -webkit-box-shadow: 5px 5px 30px -5px #999999;
  -moz-box-shadow: 5px 5px 30px -5px #999999;
  box-shadow: 5px 5px 30px -5px #999999; }

.feature-text {
  padding-top: 140px; }
  .feature-text p {
    line-height: 1.6;
    font-size: 20px;
    font-weight: 300; }

.quotes-slider {
  height: 420px;
  width: 100%;
  background-color: #F9FBFF;
  position: relative; }

.container-quotes {
  max-width: 540px;
  width: 80%;
  margin: 0 auto; }

.quote {
  position: relative;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px; }
  .quote i.fa {
    font-size: .318em; }
    .quote i.fa:first-child {
      color: #FF7E00; }

.quote-icon-wrapper {
  margin: 0 auto;
  margin-top: -110px;
  width: 65px;
  display: block; }

.quote-mark i.fa {
  font-size: 2em; }

.quote-mark {
  position: absolute;
  top: 100px;
  font-size: 2.218em; }

.quote-left {
  left: 240px; }

.quote-right {
  right: 240px; }

.owl-theme .owl-controls .owl-page .active span {
  background-color: #FF7E00; }

.about-feature {
  margin-bottom: 40px; }
  .about-feature p {
    line-height: 1.6; }

.about-photo {
  border-radius: 50%;
  max-height: 140px; }

.about-name {
  text-transform: uppercase;
  color: #07143A;
  letter-spacing: 4px;
  margin-bottom: 20px; }

.about-title {
  color: #B6BCCD;
  text-transform: none;
  font-size: 1.218em;
  margin-bottom: 20px; }

.about-feature {
  text-align: center; }

.row-aboutus {
  margin-bottom: 80px; }

.section-blog {
  background-image: url("../../img/Background.png");
  background-size: cover;
  background-position: center;
  height: 500px;
  border-color: transparent; }
  .section-blog h2.section-header {
    color: white;
    margin-bottom: 50px; }
    .section-blog h2.section-header p {
      color: white; }

.feature-text-discover {
  padding-top: 60px; }

.curve {
  padding-bottom: 15px; }

.curve-soundcloud {
  padding-bottom: 15px; }

.article-snippet {
  padding: 20px 0px;
  max-width: 700px;
  width: 75%;
  margin: 0 auto;
  color: #07143A;
  border-bottom: 1px solid #e3e6ec; }
  .article-snippet:first-child {
    padding-top: 0px; }
  .article-snippet h3 {
    letter-spacing: 2px;
    font-weight: 300;
    font-size: 1.618em;
    margin-bottom: 20px; }
  .article-snippet p {
    font-size: .818em;
    text-transform: uppercase; }
  .article-snippet .date {
    margin-right: 30px; }

.caption-button-wrapper a:first-child.btn-geekin {
  margin-right: 20px; }

.social-bar {
  height: 126px;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #e3e6ec;
  color: #B6BCCD; }
  .social-bar ul {
    height: 100%;
    padding: 0px; }
    .social-bar ul li {
      font-size: 2.218em;
      height: 100%;
      float: left;
      display: inline-block;
      width: 33%;
      text-align: center;
      border-right: 1px solid #e3e6ec; }
      .social-bar ul li a {
        padding: 20px;
        padding-top: 40px;
        display: block;
        height: 100%;
        color: #B6BCCD;
        transition: color .3s ease-out; }
        .social-bar ul li a:hover {
          color: #7984a4; }
      .social-bar ul li:last-child {
        border-right: 0; }

.subscribe {
  width: 100%;
  height: 146px;
  background-color: #FF7E00;
  color: white;
  padding-top: 60px; }
  .subscribe button.btn-subscribe {
    margin-top: 10px;
    border: 0;
    width: 100%;
    text-align: center;
    font-weight: bold;
    letter-spacing: 4px;
    color: white;
    background-color: transparent;
    text-transform: uppercase;
    transition: opacity .3s ease-out;
    outline: none;
    font-size: 1.218em; }
    .subscribe button.btn-subscribe:hover {
      opacity: .7; }
  .subscribe input {
    width: 100%;
    padding-bottom: 8px;
    margin: 0 auto;
    border: 0;
    border-bottom: 2px solid #ff8b1a;
    transition: border-color .3s ease-out;
    background-color: transparent;
    color: white;
    font-size: 2.218em;
    font-weight: lighter; }
    .subscribe input:focus {
      outline: none;
      border-color: #ffa54d; }
    .subscribe input:hover {
      border-color: #ffa54d; }
  .subscribe ::-webkit-input-placeholder {
    color: white; }
  .subscribe :-moz-placeholder {
    /* Firefox 18- */
    color: white; }
  .subscribe ::-moz-placeholder {
    /* Firefox 19+ */
    color: white; }
  .subscribe :-ms-input-placeholder {
    color: white; }

#map-canvas {
  width: 100%;
  height: 500px; }

.about-container {
  background-color: #fbfbfb; }

.gm-style-iw + div {
  display: none; }

/* ---------------- */
/*     Utilities    */
/* ---------------- */

/*# sourceMappingURL=main.css.map */
