// BOX MODEL
* {
  box-sizing: border-box;
}

// COLORS
$orange: #FF7E00;
$purple-light: #B6BCCD;
$purple-dark: #07143A;
$purple-text: #8E93A2;
$purple-xlight: #F9FBFF;
$gray-light: #fbfbfb;

// FLOAT CLEAR
.clearfix:after {
   content: ".";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.container {
  max-width:1154px;
}

$border-light-purple: 1px solid $purple-light;

body {
  transition: all .3s ease-out;
}

ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

img {
  max-width: 100%;
}
