header {
  width:100%;
  height:700px;
  background-image: url('../../img/Background.png');
  background-size: cover;
  background-position: center;
}


.caption {
  margin:0 auto;
  margin-top: 140px;
  text-align: center;
  max-width:550px;
  width:50%;
  color:white;
  margin-bottom: 60px;
  h1 {
    font-weight: lighter;
    font-size:3.618em;
    letter-spacing: 4px;
    margin-bottom: 20px;
  }
  p {
    font-size:1.218em;
    width:90%;
    margin: 0 auto;
  }
}

.caption-button-wrapper {
  margin:0 auto;
  text-align: center;
  max-width:680px;
  width:65%;
}

.btn-geekin {
  display: inline-block;
  font-weight: bolder;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: white;
  padding:20px 40px;
  min-width:320px;
  text-align: center;
  border-radius: 40px;
  transition: opacity .3s ease-out;

  &:hover {
    color:inherit;
    opacity: .7;
  }
}

.btn-geekin-dark {
  background-color:rgba(black, .35);
}

.btn-geekin-orange {
  background-color: $orange;
}

.btn-geekin-transparent {
  color: $purple-dark;
  border: thin solid $purple-light;
}

.btn-geekin-white {
  color: white;
  border: thin solid white;
}

.btn-wrapper-center {
  text-align: center;
  margin-bottom: 30px;
  a:first-child {
    margin-right: 0px;
  }
}

.header-logo {
  max-width: 280px;
  width: 50%;
  margin: 0 auto;
  display:block;
  margin-top: 140px;
}

.header-home {
  height:800px;
}

.download-button-wrapper {
  max-width:500px;
  width:80%;
  margin: 0 auto;
  color:white;
  text-align: center;
}

.download-button {
  width: 45%;
  padding:10px;
  display: inline-block;
  border: 2px solid rgba(white, .6);
  border-radius:4px;
  color:white;
  background-color: transparent;
  transition: all .3s ease-out;
  cursor:pointer;
  &:hover {
    background-color: rgba(0,0,0,.3);
    border-color: transparent;
  }
  &:last-child {
    margin-right:0;
  }
  i {
    display: inline-block;
    margin-right: 6px;
    vertical-align: top;
    margin-top:4px;
  }
  p {
    padding-left: 4px;
    text-align: left;
    margin-bottom: 0px;
    &:first-child {
      font-size:.818em;
    }
    &:last-child {
      font-size:1.218em;
    }
  }
  small {
    display:block;
  }
}

.download-button-text {
  display:inline-block;
}
