header.header-home {
  .caption {
    max-width:800px;
    width:75%;
    margin-top: 0px;
  }
}

.feature-heading {
  color: $purple-dark;
  letter-spacing: 4px;
  font-weight: 300;
  margin-bottom: 20px;
  font-size: 3.125em;
}

.feature-text {
  padding-top:140px;
  p {
    line-height: 1.6;
    font-size: 1.250em;
    font-weight: 300;
  }
}

.quotes-slider {
  height:420px;
  width:100%;
  background-color: $purple-xlight;
  position:relative;
}

.container-quotes {
  max-width:540px;
  width:80%;
  margin:0 auto;
}

.quote {
  position: relative;
  text-align: center;
  padding-top: 80px;
  padding-bottom:80px;
  @extend .quotes-font;
  i.fa {
    font-size:.318em;
    &:first-child {
      color:$orange;
    }
  }
}

.quote-icon-wrapper {
  margin:0 auto;
  margin-top: -110px;
  width:65px;
  display:block;
}


.quote-mark i.fa {
  font-size:2em;
}

.quote-mark {
  position: absolute;
  top:100px;
  font-size:2.218em;
}

.quote-left {
  left: 240px;
}
.quote-right{
  right: 240px;
}

.owl-theme .owl-controls .owl-page .active span {
  background-color: $orange;
}

.about-feature {
  margin-bottom: 40px;
  p {
    line-height:1.6;
  }
}

.about-photo {
  border-radius: 50%;
  max-height:140px;
}

.about-name {
  text-transform: uppercase;
  color:$purple-dark;
  letter-spacing: 4px;
  margin-bottom: 20px;
}

.about-title {
  @extend .quotes-font;
  color: $purple-light;
  text-transform: none;
  font-size:1.218em;
  margin-bottom:20px;
}

.about-feature {
  text-align: center;
}

.row-aboutus {
  margin-bottom:80px;
}

.section-blog {
  background-image: url('../../img/Background-half.jpg');
  background-size: cover;
  background-position: center;
  height:500px;
  border-color:transparent;
  h2.section-header {
    color:white;
    margin-bottom: 30px;
    p {
      color:white;
    }
  }
}

.feature-text-discover {
  padding-top: 60px;
}

.curve {
  padding-bottom: 15px;
}
.curve-soundcloud {
  padding-bottom:15px;
}
