.section {
  padding-top: 70px;
  padding-bottom: 70px;
  border-bottom: 1px solid lighten($purple-light, 15%);
  font-size:1.218em;
  p {
    line-height:2;
    letter-spacing:1px;
    margin-bottom:30px;
  }
}

.inner-container {
  max-width:1024px;
  width:80%;
  margin: 0 auto;
}
