.section {
  padding-top:125px;
  padding-bottom:70px;
  font-size:1.218em;
  p {
    line-height:2;
    letter-spacing:1px;
    margin-bottom:30px;
  }
}
.section:nth-child(2) {
  padding-top:0;
  padding-bottom:70px;
}
.section:nth-child(3) {
  padding-top:0;
  padding-bottom:120px;
}

.inner-container {
  max-width:1024px;
  width:80%;
  margin: 0 auto;
}
