.nav-fullscreen {
  display:none;
}

@media screen and (max-width:990px){

  header { height: 600px; }

  .caption {
    margin-top: 50px;
    margin-bottom: 10px;
  }

  .feature-text { padding-top: 0px; }

  .header-home {
    height:600px;

    .header-logo { margin-top: 60px; }

    nav { padding-top: 0px; }

  }

  .section p {
    line-height:1.6;
    margin-bottom: 20px;
  }

  .caption-button-wrapper {
    .btn-geekin { margin-bottom:20px; }
  }

  footer {
    padding-top: 40px;
    padding-bottom:40px;

    [class^=col] {
      text-align: center;
      margin-bottom:20px;

      h4 { text-align: left; }

      ul {
        margin-left: auto;
        margin-right:auto;
        max-width:300px;
        text-align: left;
      }

    }

    .download-buttons { text-align: center; }
    .col-download-links {
      text-align: center;
      h4 { text-align: center; }
    }

  }

  .section-blog {
    height: 320px;
    padding-top:30px;
  }

  .caption-button-wrapper {
    a:first-child.btn-geekin { margin-right: 0; }
  }
  .nav-left {
    display:block;
    float:none;
    margin: 0 auto;
    width: 90%;
    max-width:300px;
    text-align: center;
  }
  .nav-fullscreen {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba($orange, .8);
    z-index:1000;
    height: 100%;
    width:100%;
    transform-origin: top;
    transform: translateY(-150%);
    transition: all .5s ease-out;
    .social-bar {
      margin-top:30px;
      color:white;
      background-color: transparent;
      border:0;
      li {
        display:inline-block;
        font-size:2.618em;
        width:20%;
      }
    }
    li {
      margin-bottom:10px;
      font-size:1.618em;
    }
    li:nth-child(1) {
      -webkit-animation-delay: .25s; /* Chrome, Safari, Opera */
      animation-delay: .25s;
    }
    li:nth-child(2) {
      -webkit-animation-delay: .5s; /* Chrome, Safari, Opera */
      animation-delay: .5s;
    }
    li:nth-child(3) {
      -webkit-animation-delay: .75s; /* Chrome, Safari, Opera */
      animation-delay: .75s;
    }
    li:nth-child(4) {
      -webkit-animation-delay: 1s; /* Chrome, Safari, Opera */
      animation-delay: 1s;
    }
    &.active {
      transform: translateY(0%);
    }
    .nav-logo {
      margin-top: 90px;
      margin-bottom:30px;
    }
    ul {
      width: 70%;
      margin: 0 auto;
    }
  }
  .nav-right{
    display:block;
    ul {
      li {
        width: 100%;
        display: block;
      }
    }
  }
}

@media screen and (max-width:776px){
  body {
    font-size: 14px;
  }

  .article-snippet {
    width: 90%;
    span.date {
      display: block;
    }
  }

  .inner-container { width:88%; }

  .caption {
    width:80%;
    margin-top:60px;
  }

  .menu-button-wrapper {
    top: 0px;
    right:30px;
  }

  .btn-geekin { min-width:200px; }

  .col-press-image { text-align: center; }

  .section-header .section-subheader {
    font-size:.5em;
    line-height: 1.2;
  }

  .section-header {
    font-size:2.318em;
    margin-bottom:60px;
    letter-spacing: 0px;
  }

  .subscribe {

    .subscribe-input { text-align: center; }

    input { width:80%; }

    button.btn-subscribe {
      display: block;
      width:80%;
      margin: 0 auto;
      margin-bottom:60px;
    }

  }
}
