.subscribe {
  width: 100%;
  min-height: 146px;
  background-color: $orange;
  color:white;
  padding-top: 60px;

  button.btn-subscribe {
    font-family:$body-font-bold;
    min-width:220px;
    margin-bottom:60px;
    padding-left:20px;
    padding-right:20px;
    text-align: center;
    letter-spacing: 4px;
    color:white;
    background-color: transparent;
    text-transform: uppercase;
    transition: opacity .3s ease-out;
    outline:none;
    font-size:1.218em;
    &:hover {
      opacity:.7;
    }
  }

  input {
    width:100%;
    padding-bottom: 8px;
    margin: 0 auto;
    margin-bottom:30px;
    border: 0;
    border-bottom: 2px solid lighten($orange, 5%);
    transition: border-color .3s ease-out;
    background-color: transparent;
    color:white;
    font-size: 2.218em;
    font-weight: lighter;
    font-family: $body-font-light;
    &:focus {
      outline:none;
      border-color: lighten($orange, 15%);
    }
    &:hover {
      border-color: lighten($orange, 15%);
    }
  }
  ::-webkit-input-placeholder {
     color: white;
     font-family: $body-font-light;
  }

  :-moz-placeholder { /* Firefox 18- */
     color: white;
     font-family: $body-font-light;
  }

  ::-moz-placeholder {  /* Firefox 19+ */
     color: white;
     font-family: $body-font-light;
  }

  :-ms-input-placeholder {
     color: white;
     font-family: $body-font-light;
  }
}
