.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.no-scroll {
  overflow-y: hidden;
}

.blurred {
  filter: blur(10px);
  -webkit-filter: blur(10px);
}

.pll {
  padding-left: 20px;
}

.prl {
  padding-right: 20px;
}

::selection {
  color: white;
  background: rgba($orange, .6); /* Gecko Browsers */
}
::-moz-selection {
  color: white;
  background: rgba($orange, .6); /* Gecko Browsers */
}
